
.navbar{
    display: flex;
    width: 1240px;
    height: 68px;
    justify-content: center;
    align-items: center;
    gap: 45rem;
}

.navbar_links{
    display: flex;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    gap:3.56rem;
}

.navbar_links a {
    color: #FF6060;
    text-decoration: none;
}

.navbar_links a.active {
    text-decoration: underline;
}

.navbar_links a:hover {
    text-decoration: underline;
}